@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 2000px;
    font-family: sans-serif;
}

/* Header */
.logo-header {
    width: 12em;
}
/* ----- */

/* Navbar */
.logo-img {
    width: 40px;
    height: auto;
    background-size: cover; /* hoặc contain */
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left > .nav-link {
    color: #fff;
    padding: 20px 50px;
    transition: .6s;
}

.nav-left > .nav-link:hover {
    background-color: whitesmoke;
    color: #000;
    transform: translateX(10px);
}

.nav-right > .nav-link, .nav-item > .nav-link {
    color: #fff;
    transition: .6s;
}

.dropdown-menu > .dropdown-item:hover {
    width: 100%;
    background-color: #000;
    color: #fff;
    transition: .5s;
}

/* Splide */
.container {
    width: 100%;
    overflow: hidden;
}

.splide {
    width: 100%;
    margin: 0;
    padding: 0;    
}

.splide__slide img {
    width: 100%;
    height: 730px;
    display: block;
    background-size: cover; /* hoặc contain */
    background-position: center;
    background-repeat: no-repeat;
}
/* ----- */

/* Clothes */
.items-clothes {
    width: 100%;
}

.clothes-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    height: auto;
}

.clothes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0000005b;
    border-radius: 10%;
    width: 350px;
    height: 450px;
    margin-top: 20px;
}

.nav-link > #imgClothes-content {
    width: 350px;
    height: auto;
    border-radius: 10%;
}

.des-imgClothes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* ----- */

/* Content */

/* ----- */

/* Footer */

/* ----- */































