@media (max-width: 768px) {
    .logo-header {
        width: 8em;
    }

    .splide__slide > img {
        width: 100%;
        height: auto;
        background-size: cover; /* hoặc contain */
        background-position: center;
        background-repeat: no-repeat;
    }

    .clothes-box {
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}