@media (max-width: 768px) {
    .logo-header {
        width: 8em;
    }

    .clothes-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    
}